<main class="main-wrapper">
  <nav class="navbar navbar-toggleable-md navbar-dark bg-inverse text-white">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">GAMEFLIX</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" #f="ngForm" >
        <input class="form-control mr-sm-2" type="text" name="searchInput" [(ngModel)]="searchInput" placeholder="Nombre del juego...">
        <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Buscar!</button>
      </form>
    </div>
  </nav>
  <section class="content-wrapper">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let card of games | filterGames:searchInput">
        <div class="card text-center m-2" >
          <div class="card-block">
            <img class="card-img-top w-100" src="{{card.imgSource}}">
            <h3 class="card-title">{{card.title | uppercase}}</h3>
            <p class="card-text">{{card.description}}</p>
            <a href="#" class="btn btn-primary">Probar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
