<main class="main-wrapper">
  <nav class="navbar sticky-top navbar-dark text-light justify-content-between">
      <a (click)="searchInput=''" class="navbar-brand">GameFlix</a>
      <div>
        <label for="admin">Administrador</label>
        <input type="checkbox" name="admin" [(ngModel)]="admin">
      </div>

      <form class="form-inline" #f="ngForm">
        <input class="form-control mr-sm-2" [ngbTypeahead]="search"  name="searchInput" [(ngModel)]="searchInput" type="text" placeholder="Titulo del juego...">
        <button class="btn btn-outline-white my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>
<section *ngIf="admin">
    <div [chart]="chart"></div>
</section>
<section ng-hide="admin" class="content-wrapper">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let card of games | filterGames:searchInput ; let i = index">
      <div class="card text-center m-2" >
        <div class="card-block --blue">
          <img class="card-img-top pt-0" [src]="card.imgSource">
          <h5 class="card-title mt-3">{{card.title | uppercase}}</h5>
          <p class="card-text">{{card.description}}</p>
          <button (click)="heySoyUnBoton(content);showDisabled(t, i) " class="btn btn-primary" [disabled] = "!card.playability" ngbTooltip="Ya lo jugaste wey" triggers="manual" #t="ngbTooltip" (mouseleave)="t.close()">Probar</button>
          <ng-template #content>
              <div class="card-block" >
                  <youtube-player #player *ngIf="card.playability; else zorry"
                    protocol="http"
                    [videoId]="card.videoSource"
                    (change)="evento($event,i)"
                    width="100%"
                  >
                  </youtube-player>
                  <ngb-progressbar class="col-xs-6" [max]="tempConfig" [value]="card.playTime" type="info"></ngb-progressbar>
                </div>
              <ng-template #zorry>
                <h4 class="text-center">Lo sentimos, ya has jugado a esta demo...</h4>
              </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
