/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.content-wrapper{
  padding: 3em;
  background-color: #343a40;
  min-height: 100vh;
}
